.conductorsTableContainer {
    margin-top: 20vh;
    overflow: auto;
    max-height: 40vh;
}

.conductorsTable {
    border-collapse: separate;
}

.conductorsTable th, .conductorsTable td {
    border-bottom: none;
}

.conductorsTable thead {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background: white;
    margin: 0;
    padding: 0;

}

.calculatorContainer {
    display: flex;
    flex-direction: row;
}

.inputDataContainer, .resultsContainer {
    width: 50%;
    padding-right: 60px;
}

::placeholder,
::-webkit-input-placeholder {
    color: red;
}